{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "add_"~obj|lower %}

{% block head %}
<title>
	Add {{obj}} | Student Management System
</title>
<meta property="og:title" content="Add Student | Student Management System" />
<meta name="twitter:title" content="Add Student | Student Management System">
{% endblock head %}


{% block css %}
<link href="{{url_for('static', filename='css/select2.min.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename='css/select2-bootstrap-css.min.css')}}" rel="stylesheet" />
{% endblock css %}

{% block content %}
<div class="container">
	<h2>Add a {{obj}}</h2>
	<div class="row">
		{% with messages = get_flashed_messages(with_categories=true) %}
  			{% if messages %}
    			{% for category, message in messages %}
					<div class="alert alert-{{category}}">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{message}}
					</div>
    			{% endfor %}
  			{% endif %}
		{% endwith %}

		{% if rows %}
			<h3>Student enrolled in the following courses.</h3>
			<div class="table-responsive">
			<table id="{{obj}}table" class="table table-hover table-condensed sortable">
				<thead>
					<tr>
						{% for col in cols %}
						<th>{{col}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for row in rows %}
					<tr>
						{% for attr in row %}
						<td>{{attr}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="btn-group pull-left ">
  			<a href="{{url_for('index')}}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Go Back!</a>
		</div>
		{% else %}
			{{ wtf.quick_form(form, form_type="horizontal", id="add-form", button_map={'submit': 'success'}) }}
		{% endif %}
		
	</div>
</div>
{% endblock content %}

{% block js %}
	<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>
	<script type="text/javascript">
  		$('select').select2();
	</script>
{% endblock js %}
