<!DOCTYPE html>
<html>
<head>
	{% block head %}
	{% endblock head %}
	<meta charset="utf-8">
	<meta name="description" content="Student management system!">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Open Graph data -->
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Student management system!" />
	<meta property="og:site_name" content="Student management system!" />

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@publisher_handle">
	<meta name="twitter:description" content="Student management system!">

	<!-- BOOTSTRAP CSS -->
	<link href="{{url_for('static', filename = 'lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
	<link href="{{url_for('static', filename = 'lib/bootstrap/css/bootstrap-theme.min.css')}}" rel="stylesheet">

	{% block css %}
	{% endblock css %}
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{url_for('index')}}">Student Management System</a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					{% set student_bar = [
						('add_student', 'Add a student'),
						('all_students', 'List all Students'),
						('delete_student', 'Delete a student'),
					] %}
					{% set courses_bar = [
						('add_course', 'Add a course'),
						('all_courses', 'List all Courses'),
						('delete_course', 'Delete a course'),
					] %}
					{% set enrollments_bar = [
						('add_enrollment', 'Add an enrollment'),
					] %}
					{% set branches_bar = [
						('all_branches', 'List all Branches'),
					] %}
					{% set navigation_bar = [
						('index', 'Home'),
					] %}
					{% set dropdown_bar = [
						('Student', student_bar),
						('Courses', courses_bar),
						('Enrollments', enrollments_bar),
						('Branches', branches_bar),
					] %}
					{% set active_page = active_page|default('index') %}
					{% for href, caption in navigation_bar %}
						<li{% if href == active_page %} class="active"{% endif %}>
							<a href={% if href != "#"%}"{{ url_for(href) }}" {% else %}"#"{% endif %}>{{ caption|e }}</a>
						</li>
					{% endfor %}
					{% for name, bar in dropdown_bar %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{name}}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for href, caption in bar %}
									<li{% if href == active_page %} class="active"{% endif %}>
									<a href={% if href != "#"%}"{{ url_for(href) }}" {% else %}"#"{% endif %}>{{ caption|e }}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>

	{% block content %}
	{% endblock content %}
</body>
<!--  jQuery  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BOOTSTRAP JS -->
<script src="{{url_for('static', filename = 'lib/bootstrap/js/bootstrap.min.js')}}"></script>
{% block js %}
{% endblock js %}
</html>