{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "modify_"~obj|lower %}

{% block head %}
<title>
	Modify {{obj}} | Student Management System
</title>
<meta property="og:title" content="Modify {{obj}} | Student Management System" />
<meta name="twitter:title" content="Modify {{obj}} | Student Management System">
{% endblock head %}


{% block css %}
<link href="{{url_for('static', filename='css/select2.min.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename='css/select2-bootstrap-css.min.css')}}" rel="stylesheet" />
{% endblock css %}

{% block content %}
<div class="container">
	<ol class="breadcrumb">
  		<li><a href="{{url_for('index')}}">Home</a></li>
  		<li><a href="#">{{obj}}</a></li>
  		<li class="active">Modify a {{obj}}</li>
	</ol>
	<h2>Modify a {{obj}}</h2>
	<div class="row">
		{% with messages = get_flashed_messages(with_categories=true) %}
  			{% if messages %}
    			{% for category, message in messages %}
					<div class="alert alert-{{category}}">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{message}}
					</div>
    			{% endfor %}
  			{% endif %}
		{% endwith %}

		
		{{ wtf.quick_form(form1, form_type="horizontal", id="choose-form", button_map={'submit': 'primary'}) }}
		{% if form2 %}
			{{ wtf.quick_form(form2, form_type="horizontal", id="modify-form", button_map={'submit': 'success'}) }}
		{% endif %}
		
	</div>
</div>
{% endblock content %}

{% block js %}
	<script src="{{url_for('static', filename='js/select2.min.js')}}"></script>
	<script type="text/javascript">
  		$('select').select2();
	</script>
	{% if addr %}
	<script type="text/javascript">
		function inits() {
			var addr = document.getElementById("addr");
			addr.innerHTML = "{{addr}}";
		}
		window.onload = inits();
	</script>
	{% endif %}
{% endblock js %}
